<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    #end
    #if(${baseResultMap})
        <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
            #foreach($field in ${table.fields})
                #if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
            #foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}"/>
            #end
            #foreach($field in ${table.fields})
                #if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}"/>
                #end
            #end
    </resultMap>
    #end

    #if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        ${field.name},
#end
        ${table.fieldNames}
    </sql>
    #end

    <!-- 表名 -->
    <sql id="t_name">${table.name}</sql>
    <!-- 别名 -->
    #set($i=${table.name.lastIndexOf('_')})
    #set($alias=${table.name.substring($i+1)})
    <sql id="t_alias">${table.name} as ${alias}</sql>


    <select id="getWithPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${table.name}
        <where>
            #foreach($field in ${table.fields})
                <if test="query.${field.propertyName} != null ">
                    and ${field.name} = #{query.${field.propertyName}}
                </if>
            #end
        </where>
    </select>

    <select id="getCountByQuery" resultType="java.lang.Integer">
        select count(1)
        from ${table.name}
        <where>
            #foreach($field in ${table.fields})
                <if test="query.${field.propertyName} != null ">
                    and ${field.name} = #{query.${field.propertyName}}
                </if>
            #end
        </where>

    </select>

    <insert id="insertReturnId" parameterType="$!{package.Entity}.$!{entity}" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${table.name}(
        <trim suffixOverrides=",">
            #foreach($field in ${table.fields})
                <if test="po.${field.propertyName} != null">
                    ${field.name} ,
                </if>
            #end
        </trim>
        )VALUES(
        <trim suffixOverrides=",">
            #foreach($field in ${table.fields})
                <if test="po.${field.propertyName} != null">
                    #{po.${field.propertyName}},
                </if>
            #end
        </trim>
        )
    </insert>

    <select id="getOneByQuery"  resultType="$!{package.Entity}.$!{entity}">
        select <include refid="Base_Column_List"/>
        from ${table.name}
        <where>
            #foreach($field in ${table.fields})
                <if test="query.${field.propertyName} != null ">
                    and ${field.name} = #{query.${field.propertyName}}
                </if>
            #end
        </where>
    </select>

    <select id="getAllByQuery" resultType="$!{package.Entity}.$!{entity}">
        select <include refid="Base_Column_List"/>
        from ${table.name}
        <where>
            #foreach($field in ${table.fields})
                <if test="query.${field.propertyName} != null ">
                    and ${field.name} = #{query.${field.propertyName}}
                </if>
            #end
        </where>
    </select>
</mapper>
