package $!{package.Service};

import $!{package.Entity}.$!{entity};
import $!{superServiceClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.metadata.IPage;
import $!{model}.dto.$!{dto};
import $!{model}.query.$!{query};
import java.util.List;
/**
 * @author $!{author}
 * @date $!{date}
 * @description $!{table.comment} 服务类
 */
#if($!{kotlin})
interface $!{table.serviceName} : $!{superServiceClass}<$!{entity}>
#else
public interface $!{table.serviceName} extends $!{superServiceClass}<$!{entity}> {

        IPage<$!{entity}> getWithPage(Page page, $!{query} query);

        $!{entity} getOneByQuery(${query} query);

        List<$!{entity}> getAllByQuery( ${query} query);

}
#end
